:root {
    --primary: #4f46e5;
    --dark: #0f172a;
    --light: #f8fafc;
    --accent: #06b6d4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--dark);
    color: var(--light);
    line-height: 1.6;
}

/* Navegación */
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
    background: rgba(15, 23, 42, 0.9);
    position: sticky;
    top: 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
}

.logo span {
    color: var(--primary);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}
nav ul li{
    height: auto;
    width: auto;
    padding: 5px;
}
nav ul li:hover{
    border-top: 1px solid #F3F4F6;
    border-bottom: 1px solid #F3F4F6;
}

/* Hero Section */
.hero {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(rgba(15, 23, 42, 0.4), rgba(15, 23, 42, 0.4)), 
                url("../Img/Banner.png");
    background-size: cover;
    
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.btn-main {
    display: inline-block;
    background: var(--primary);
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 2rem;
    transition: 0.3s;
}

.btn-main:hover {
    background: var(--accent);
}

/* Servicios */
.services {
    padding: 5rem 10%;
    text-align: center;
    color: #0B0F19;
    background-color: #F3F4F6;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
}

.card {
    /*background: #1e293b;*/
    background-color: #f8fafc;
    padding: 2rem;
    border-radius: 15px;
    transition: transform 0.3s;
    border: 1px solid #334155;
}

.card:hover {
    transform: translateY(-10px);
    border-color: var(--primary);
}

.card .icon {
    font-size: 3rem;
    margin-bottom: 1rem;
}

footer {
    padding: 3rem;
    text-align: center;
    background: #020617;
}
@media (max-width: 768px) {
    .hero{
       background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://images.unsplash.com/photo-1518770660439-4636190af475?auto=format&fit=crop&w=1350&q=80');
        background-size: cover;
        background-position: center;
        height: 60vh;
        display: flex;
        align-items: center;
        text-align: center;
        color: #fff;
    }
    .hero h1 { font-size: 2.5rem; margin-bottom: 1rem; }
    .btn { background: #007bff; color: #fff; padding: 10px 20px; border-radius: 5px; text-decoration: none; }

    .menu-toggle {
        display: block; /* Aparece el icono */
    }

    .nav-menu {
        position: absolute;
        top: 100%; /* Aparece justo abajo del header */
        left: -100%; /* Lo escondemos a la izquierda */
        flex-direction: column;
        background-color: #1a1a1a;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: 0.3s; /* Para que deslice suave */
        
    }
    .nav-menu.active {
        left: 0; /* Al activarse, se desliza al centro */
    }
}


